body{
  height: 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  overflow:hidden;
}

.background{
    color: #cccccc;
}

#img{
  height: 180px;
  width: auto;
  
}